body {
    font-family: sans-serif;
  }
  hr{
    border-top: 1px solid #8c8b8b
  }
  .nav {
    font-size: 90%;
    font-style: italic;
    text-align: center;
  }
  .preview {
    display: grid;
    background-color: #8c8b8b;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .footer {
    font-size: 50%;
    font-style: italic;
  }
  .hide {
    display: none;
  }
  .selected {
    background-color: rgba(50, 115, 220, 0.3);
    color: white;
  }
  